* {
  margin: 0;
  padding: 0;
}
.box {
  width: 430px;
  height: 136px;
  box-sizing: border-box;
  background: #FFF0F1;
  border-radius: 12px;
  display: flex;
  padding: 0 24px 0 30px;
  align-items: center;
  .context {
    flex: 1;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 22px;
    }
  }
  .button {
    width: 108px;
    height: 45px;
    font-size: 20px;
    background: #F00;
    border-radius: 8px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
  }
}
