<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Web site created using create-react-app" />
  <title>CPS分销系统</title>
</head>

<body>
  <div id="root">ddd</div>
</body>


<script>
  // 普通函数 this: this 代表当前正在执行的对象
  // 箭头函数:
    // 箭头函数没有自己的 this, 箭头函数的 this 是在箭头函数“定义的时候”就"固定不变了", 会去上一级作用域链去寻找他的 this
    // 只有一条语句 默认带 return
    // 参数只有一个 可以省略括号
    // arguments

  
  // var user = '小花'

  // const obj = {
  //   user: '小白',
  // }

  // const fun = () => {
  //   // this === window
  //   console.log(this.user);
  // }

  // // window.fun
  // // 小花
  // fun()

  // // 小白
  // // obj.fun
  // // this === window
  // fun.call(obj)

  // // this === window
  // fun.apply(obj)

</script>

</html>
